{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<style>
    .hero-section {
        background: url('/images/homepage.webp') no-repeat center center;
        background-size: cover;
        width: 100%;
        height: auto; 
        min-height: 600px;
    }
</style>
{% endblock %}
{% block content %}

<section class="container-fluid py-5 text-center bg-light">
    <h1 class="display-4 fw-bold">Transform Documents into Insights with Ease</h1>
    <p class="lead">Leverage the power of Generative AI and Large Language Models to make your business documents work for you.</p>
</section>

<section class="container-fluid py-5 text-center hero-section">
    
</section>

<section class="container py-5" id="features">
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Effortless Integration</h5>
                    <p class="card-text">Quickly integrate DataTalk with your existing systems and workflows.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Enhanced Data Privacy</h5>
                    <p class="card-text">Use local open-source models to handle sensitive data without cloud uploads.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Automated Data Processing</h5>
                    <p class="card-text">Automate the processing of new data with our sophisticated pipeline feature.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Video Section -->
<section class="container py-5">
    <video width="100%" height="auto" controls>
        <source src="./movie_with_audio.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section>

<section class="container-fluid py-5 bg-secondary text-white text-center">
    <h2 class="fw-bold">See DataTalk in Action</h2>
    <p>Get in touch with us to see DataTalk in action and learn what DataTalk can do for your business.</p>
    <a href="mailto:mail@datatalk.app" class="btn btn-outline-light btn-lg">Get in touch</a>
</section>

<section class="container py-5">
    <h2 class="text-center mb-4">Latest Blog Posts</h2>
{% for post in blog.posts %}
<div class="col-md-4 mb-4">
    <div class="card">
        <img src="./blog/{{post.slug}}/{{post.image}}" class="card-img-top" alt="Blog Post Image">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.short }}</p>
            <a href="./blog/{{post.slug}}" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>
{% endfor %}
</section>

{% endblock %}